@import "tailwindcss";

@theme {
  /* Definindo as cores da Mariana diretamente no motor do Tailwind v4 */
  --color-brand-dark: #1e1b4b;
  --color-brand-primary: #6366f1;
  --color-brand-light: #e0e7ff;
  
  /* Garantindo que o azul brilhante (indigo-500) exista */
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
}

/* Reset básico para garantir que o fundo ocupe a tela toda */
html, body, #root {
  height: 100%;
  margin: 0;
}